<div class="card card-primary">
  <div class="container">
    <div class="flex-layout">
      <div class="navbar-logo">
        <img src="assets/images/logo-white.png" class="logo" alt="logo" />
      </div>
      <div class="footer-links">
        <p class="content">
          <a href="#" class="content-text text-sm text-light" target="_blank"
            >Contact us</a
          >
        </p>
        <p class="content">
          <a href="#" class="content-text text-sm text-light" target="_blank"
            >About us</a
          >
        </p>
        <p class="content">
          <a href="#" class="content-text text-sm text-light" target="_blank"
            >Services</a
          >
        </p>
        <p class="content">
          <a href="#" class="content-text text-sm text-light" target="_blank"
            >Our works</a
          >
        </p>
      </div>

      <div class="flex-container around">
        <a
          href="https://www.instagram.com/reventafrica/"
          class="text-sm text-light"
          target="_blank"
        >
          <div class="icon-container">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </a>
        <a
          href="https://twitter.com/ReventAfrica"
          class="text-sm text-light"
          target="_blank"
        >
          <div class="icon-container">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
    <hr />
    <div>
      <p class="text-sm text-light bottom-text">
        © 2021 reventtechnologies. All rights reserved
      </p>
    </div>
  </div>
</div>
