<nav class="navbar container animate">
  <div class="navbar-logo">
    <img src="assets/images/logo.png" class="logo" alt="logo" />
  </div>

  <div class="navbar-links">
    <div class="link">
      <a href="#">Home</a>
    </div>
    <div class="link">
      <a href="#">Contact us</a>
    </div>
    <div class="link">
      <a href="#">About us</a>
    </div>
    <div class="link">
      <div class="btn btn-primary">Let’s Talk 👋🏾</div>
    </div>
  </div>

  <div class="menu">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
</nav>

<!-- <nav class="navbar">
  <div class="navbar-brand">
    <a href="/" class="navbar-logo">
      <img src="assets/images/logo.png" />
    </a>
    <button class="navbar-toggler" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
  </ul>
</nav> -->
