<div class="hero-bg animate">
  <div class="container hero-content">
    <div class="hero-message">
      <h1 class="text-lg">
        We are creating wealth for our
        <span class="text-primary text-lg">society</span>
      </h1>
      <p>
        Revent is dedicated to enabling financial freedom by providing quick
        access to loans in order to provide convenience for its customers.
      </p>

      <div class="button-section">
        <button class="btn btn-primary">Let’s Talk 👋🏾</button>
      </div>
    </div>
    <div class="hero-text">
      <img src="assets/images/hero-img.png" class="hero-img" alt="hero-img" />
    </div>
  </div>
</div>
