<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Navbar -->

<!-- Hero section -->
<app-hero></app-hero>
<!-- Hero section -->

<!-- apply section -->
<div class="container">
  <div class="fade-in">
    <h1 class="text-lg">
      Are you looking for a quick
      <br />
      loan? Get your loan in
      <br />
      <span class="text-primary text-lg">24 hours ⏳</span>
    </h1>
  </div>
  <div class="flex-layout fade-in">
    <div class="content">
      <div class="">
        <h1 class="content-header">Apply</h1>

        <p class="content-text">
          Take your first step to financial freedom by applying for a loan from
          us and we will be available to help you every step of the way.
        </p>
      </div>
      <div class="">
        <h1 class="content-header">Get verified</h1>
        <p class="content-text">
          We follow a well-regulated process to evaluate you/your documents we
          verify you and move you to the next step
        </p>
      </div>

      <div class="">
        <h1 class="content-header text-gray">Get funded</h1>
        <br />
        <p class="content-text text-gray">
          After evaluation you will get your loan, all of this will occur within
          24 hours. Our loans are quick and easy. It’s that simple
        </p>
      </div>
    </div>
    <div class="flex-img-section">
      <img src="assets/images/apply-img.png" class="flex-img" alt="hero-img" />
    </div>
  </div>
</div>
<!-- apply section -->

<!-- Easy Financial Service -->

<!-- Stats section -->
<div class="bg-primary">
  <div class="container">
    <div class="flex-layout">
      <div>
        <h1 class="text-lg text-light">40+</h1>
        <br />
        <p class="text-light text-sm">staff in different regions</p>
      </div>
      <div>
        <h1 class="text-lg text-light">40M+</h1>
        <br />
        <p class="text-light text-sm">staff in different regions</p>
      </div>
      <div>
        <h1 class="text-lg text-light">360+</h1>
        <br />
        <p class="text-light text-sm">Approved & disbursed loan applications</p>
      </div>
    </div>
  </div>
</div>
<!-- Stats section -->

<!-- Micro finance body section -->
<div class="container">
  <div class="flex-layout fade-out">
    <div class="content">
      <div class="">
        <button class="btn btn-pill">Why Revent</button>

        <h1 class="content-header">
          We are a micro-finance body that
          <span class="text-lg text-primary">cares</span>
        </h1>
        <p class="content-text">
          We support micro businesses and enterprises within the fast-moving
          consumer goods (FMCG) sector with a view to reduce hunger and foster a
          thriving micro economy within our communities amongst men and women.
        </p>
      </div>
    </div>
    <div class="flex-img-section">
      <img
        src="assets/images/micro-fin-img.png"
        class="flex-img"
        alt="micro-finance image"
      />
    </div>
  </div>
</div>
<!-- Micro finance body section -->

<!-- Access to loan section -->
<div class="container">
  <div class="flex-layout fade-in">
    <div class="flex-img-section">
      <img
        src="assets/images/access-img.png"
        class="flex-img"
        alt="micro-finance image"
      />
    </div>

    <div class="content">
      <div class="">
        <button class="btn btn-pill">What we offer</button>

        <h1 class="content-header">Have access to loans anytime anywhere</h1>
        <p class="content-text">
          We also provide working capital support the micro businesses within
          the FMCG value chain to meet daily operational needs & partner with
          you to grow your business by providing the right type of funding.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Access to loan section -->

<!-- Financial Advisory section -->
<div class="container">
  <div class="flex-layout fade-out">
    <div class="content">
      <div class="hero-text">
        <button class="btn btn-pill">What we offer</button>

        <h1 class="content-header">
          Financial Advisory, consultation and Lending services
        </h1>
        <p class="content-text">
          We provide business advisory that is backed with funding to increase
          turnover and in turn profits while alleviating poverty especially
          among-st women and communities that are under banked or unbanked.
        </p>

        <div class="flex-container between">
          <div class="flex-container between">
            <div>
              <i class="fa fa-check"></i>
            </div>
            <p class="text-sm">Money Lending</p>
          </div>
          <div class="flex-container start">
            <i class="fa fa-check"></i>
            <p class="text-sm">Micro-Finance</p>
          </div>
          <div class="flex-container start">
            <i class="fa fa-check"></i>
            <p class="text-sm">Advisory</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-img-section">
      <img
        src="assets/images/fin-advisory-img.png"
        class="flex-img"
        alt="micro-finance image"
      />
    </div>
  </div>
</div>
<!-- Financial Advisory section -->

<!-- Stories from users section -->
<div class="card-lg bg-primary">
  <div class="container fade-up">
    <div class="flex-layout">
      <div class="content">
        <div class="">
          <div style="margin: 1rem 0">
            <img src="assets/images/quote.png" width="50px" alt="quote image" />
          </div>
          <h1 class="content-header text-light">Stories from users</h1>
          <p class="content-text text-light">
            I used to struggle with my business due to low capital until i met
            Revent that took my business to a new level with the loan granted to
            me at the best rates ever
          </p>

          <p class="content-text text-light my-3">- Magarette Chikamso</p>

          <div class="flex-container start my-3">
            <div class="icon-container inactive">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </div>
            <div class="icon-container">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-img-section">
        <img
          src="assets/images/black-lady-img.png"
          class="flex-img"
          alt="black lady image"
        />
      </div>
    </div>

    <div class="companies">
      <div>
        <img src="assets/images/bamboo.png" class="logo" alt="branch logo" />
      </div>
      <div>
        <img src="assets/images/chidrens.png" class="logo" alt="branch logo" />
      </div>
      <div>
        <img src="assets/images/eros.png" class="logo" alt="branch logo" />
      </div>
      <div>
        <img src="assets/images/artisan.png" class="logo" alt="branch logo" />
      </div>
      <div>
        <img src="assets/images/branch.png" class="logo" alt="branch logo" />
      </div>
    </div>
  </div>
</div>
<!-- Stories from users section -->

<!-- Latest news section -->

<!-- Newsletter section -->
<div class="container">
  <div class="card card-lg card-primary-light fade-up">
    <div class="subscribe-container">
      <h1 class="text-lg">Subscribe to our</h1>
      <h1 class="text-lg text-primary">Newsletter</h1>

      <div class="input-section">
        <input type="text" class="input" placeholder="Enter your email" />
      </div>

      <div class="btn-section">
        <button class="btn btn-primary">Subscribe 📩</button>
      </div>
    </div>
  </div>
</div>
<!-- Newsletter section -->

<!-- Let's talk section -->
<div class="container" style="margin-top: 100px">
  <div class="card card-lg card-light fade-out">
    <div class="subscribe-container">
      <h1
        class="flex-container center text-lg"
        style="width: 60%; margin: 0 auto"
      >
        We are here to help you navigate the poor financial service provision in
        Africa
      </h1>

      <div class="btn-section">
        <button class="btn btn-warm">Lets Talk 👋🏾</button>
      </div>
    </div>
  </div>
</div>
<!-- Let's talk section -->

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->
