<!-- Navbar -->
<nav class="navbar container">
  <div class="navbar-logo">
    <img src="assets/images/logo.png" class="logo" alt="logo" />
  </div>
  <div class="navbar-links">
    <div class="link">
      <a href="#">Home</a>
    </div>
    <div class="link">
      <a href="#">Contact us</a>
    </div>
    <div class="link">
      <a href="#">About us</a>
    </div>
    <div class="link">
      <div class="btn btn-primary">Let’s Talk 👋🏾</div>
    </div>
  </div>
</nav>
<!-- Navbar -->

<!-- Hero section -->
<div class="hero-bg">
  <div class="container hero-content">
    <div class="hero-text">
      <h1 class="text-lg">
        We are creating wealth for our
        <span class="text-primary text-lg">society</span>
      </h1>
      <br />
      <p>
        Revent is dedicated to enabling financial freedom by providing quick
        access to loans in order to provide convenience for its customers.
      </p>

      <div>
        <a href="#" class="btn btn-primary">Let’s Talk 👋🏾</a>
      </div>
    </div>
    <div class="hero-text">
      <img src="assets/images/hero-img.png" alt="hero-img" />
    </div>
  </div>
</div>
<!-- Hero section -->

<!-- apply section -->
<div class="container">
  <div>
    <h1 class="text-lg">
      Are you looking for a quick
      <br />
      loan? Get your loan in
      <br />
      <span class="text-primary text-lg">24 hours ⏳</span>
    </h1>
  </div>
  <div class="flex-container between">
    <div>
      <div class="hero-text">
        <h1 class="text-lg">Apply</h1>
        <br />
        <p>
          Take your first step to financial freedom by applying for a loan from
          us and we will be available to help you every step of the way.
        </p>
      </div>
      <div class="hero-text">
        <h1 class="text-lg">Get verified</h1>
        <br />
        <p>
          We follow a well-regulated process to evaluate you/your documents we
          verify you and move you to the next step
        </p>
      </div>
      <div class="hero-text">
        <h1 class="text-lg text-gray">Get funded</h1>
        <br />
        <p class="text-gray">
          After evaluation you will get your loan, all of this will occur within
          24 hours. Our loans are quick and easy. It’s that simple
        </p>
      </div>

      <br />
      <br />
      <br />
      <div>
        <button href="#" class="btn btn-primary">Let’s Talk 👋🏾</button>
      </div>
    </div>
    <div class="hero-text">
      <img src="assets/images/apply-img.png" alt="hero-img" />
    </div>
  </div>
</div>
<!-- apply section -->

<!-- Easy Financial Service -->

<!-- Stats section -->
<div class="bg-primary">
  <div class="flex-container between">
    <div>
      <h1 class="text-lg text-light">40+</h1>
      <br />
      <p class="text-light text-sm">staff in different regions</p>
    </div>
    <div>
      <h1 class="text-lg text-light">40M+</h1>
      <br />
      <p class="text-light text-sm">staff in different regions</p>
    </div>
    <div>
      <h1 class="text-lg text-light">360+</h1>
      <br />
      <p class="text-light text-sm">Approved & disbursed loan applications</p>
    </div>
  </div>
</div>
<!-- Stats section -->

<!-- Micro finance body section -->
<div class="container">
  <div class="flex-container between">
    <div>
      <div class="hero-text">
        <button class="btn btn-pill">Why Revent</button>

        <br />
        <br />
        <h1 class="text-lg">
          We are a micro-finance body that
          <span class="text-lg text-primary">cares</span>
        </h1>
        <br />
        <p>
          We support micro businesses and enterprises within the fast-moving
          consumer goods (FMCG) sector with a view to reduce hunger and foster a
          thriving micro economy within our communities amongst men and women.
        </p>
      </div>
    </div>
    <div class="hero-text">
      <img src="assets/images/micro-fin-img.png" alt="micro-finance image" />
    </div>
  </div>
</div>
<!-- Micro finance body section -->

<!-- Access to loan section -->
<div class="container">
  <div class="flex-container between">
    <div class="hero-text">
      <img src="assets/images/access-img.png" alt="micro-finance image" />
    </div>
    <div>
      <div class="hero-text">
        <button class="btn btn-pill">What we offer</button>

        <br />
        <br />
        <h1 class="text-lg">Have access to loans anytime anywhere</h1>
        <br />
        <p>
          We also provide working capital support the micro businesses within
          the FMCG value chain to meet daily operational needs & partner with
          you to grow your business by providing the right type of funding.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Access to loan section -->

<!-- Financial Advisory section -->
<div class="container">
  <div class="flex-container between">
    <div>
      <div class="hero-text">
        <button class="btn btn-pill">What we offer</button>

        <br />
        <br />
        <h1 class="text-lg">
          Financial Advisory, consultation and Lending services
        </h1>
        <br />
        <p>
          We provide business advisory that is backed with funding to increase
          turnover and in turn profits while alleviating poverty especially
          among-st women and communities that are under banked or unbanked.
        </p>

        <br /><br />
        <div class="flex-container between">
          <div class="flex-container start">
            <i class="fa fa-check"></i>
            <p class="text-sm">Money Lending</p>
          </div>
          <div class="flex-container start">
            <i class="fa fa-check"></i>
            <p class="text-sm">Micro-Finance</p>
          </div>
          <div class="flex-container start">
            <i class="fa fa-check"></i>
            <p class="text-sm">Advisory</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-text">
      <img src="assets/images/fin-advisory-img.png" alt="micro-finance image" />
    </div>
  </div>
</div>
<!-- Financial Advisory section -->

<!-- Stories from users section -->
<div class="card-lg bg-primary">
  <div class="container">
    <div class="flex-container evenly">
      <div>
        <div class="hero-text">
          <h1 class="text-lg text-light">Stories from users</h1>
          <br />
          <p class="text-light">
            I used to struggle with my business due to low capital until i met
            Revent that took my business to a new level with the loan granted to
            me at the best rates ever
          </p>
          <p class="text-light">- Magarette Chikamso</p>
        </div>
      </div>
      <div class="hero-text">
        <img src="assets/images/black-lady-img.png" alt="black lady image" />
      </div>
    </div>

    <br /><br /><br />
    <div class="flex-container between">
      <div>
        <img src="assets/images/branch.png" alt="branch logo" />
      </div>
      <div>
        <img src="assets/images/branch.png" alt="branch logo" />
      </div>
      <div>
        <img src="assets/images/branch.png" alt="branch logo" />
      </div>
      <div>
        <img src="assets/images/branch.png" alt="branch logo" />
      </div>
      <div>
        <img src="assets/images/branch.png" alt="branch logo" />
      </div>
    </div>
  </div>
</div>
<!-- Stories from users section -->

<!-- Latest news section -->

<!-- Newsletter section -->
<div class="container">
  <div class="card card-lg card-primary-light">
    <h1 class="text-lg">Subscribe to our</h1>
    <h1 class="text-lg text-primary">Newsletter</h1>

    <br /><br />
    <div>
      <input type="text" class="input" placeholder="Enter your email" />
    </div>

    <br /><br />
    <div>
      <button class="btn btn-primary">Subscribe 📩</button>
    </div>
  </div>
</div>
<!-- Newsletter section -->

<!-- Let's talk section -->
<div class="container">
  <div class="card card-lg card-light">
    <h1 class="text-lg">
      We are here to help you navigate the poor financial service provision in
      Africa
    </h1>

    <br /><br />
    <div>
      <input type="text" class="input" placeholder="Enter your email" />
    </div>

    <br /><br />
    <div>
      <button class="btn btn-warm">Lets Talk 👋🏾</button>
    </div>
  </div>
</div>
<!-- Let's talk section -->

<!-- Footer -->
<div class="card card-primary">
  <div class="container">
    <div class="flex-container between">
      <div class="navbar-logo">
        <img src="assets/images/logo-white.png" class="logo" alt="logo" />
      </div>
      <div class="flex-container between">
        <p>
          <a href="#" class="text-sm text-light" target="_blank">Contact us</a>
        </p>
        <p class="text-sm text-light">
          <a href="#" class="text-sm text-light" target="_blank">About us</a>
        </p>
        <p class="text-sm text-light">
          <a href="#" class="text-sm text-light" target="_blank">Services</a>
        </p>
        <p class="text-sm text-light">
          <a href="#" class="text-sm text-light" target="_blank">Our works</a>
        </p>
      </div>
      <div class="flex-container around">
        <a
          href="https://twitter.com/ReventAfrica"
          class="text-sm text-light"
          target="_blank"
          >Twitter</a
        >
        <a
          href="https://www.instagram.com/reventafrica/"
          class="text-sm text-light"
          target="_blank"
          >Instagram</a
        >
      </div>
    </div>
    <hr />
    <div>
      <p class="text-sm text-light">
        © 2021 reventtechnologies. All rights reserved
      </p>
    </div>
  </div>
</div>
<!-- Footer -->
